extends layout

block content
  form(action='/add', method='POST')
    .form-row
      .col-12
        .form-group
          label(for='Search') Start typing to search for a book
          input.form-control(type='search' id='search' name='search' placeholder='Title or author' autofocus)
  .row#suggestions


  script(src="/javascripts/addBook.js")
