//- TODO: Give indication on status of finalized trades (accepted / rejected by [user]).

extends layout

include mixins/_bookList

block content
  h1= title

  h2.mt-3 Your trade requests
  if requestsByYou.length
    +bookList(requestsByYou, 'cancel')
  else 
    p You have no trade requests pending
    
  h2.mt-3 Requests from other users
  if requestsToYou.length
    +bookList(requestsToYou, 'respond')
  else
    p You have no requests to approve
  
  h2.mt-3 Finalized trades
  if finalized.length
    +bookList(finalized, 'finalized')
  else 
    p You have no finalized trades
